{% if session.user_id %}
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

{% block content %}
<h2>Omat reseptit:</h2>
<hr>
{% for recipe in recipes %}
<a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
<p></p>
{% endfor %}
<hr>
<a href="/form">Uusi resepti</a>
<br>
<br>
<form action="/search" method="GET">
<p>Hae käyttäjää:</p>
<input type="text" name="query">
<br>
<input type="submit" value="Lähetä">
</form>
{% endblock %}

{% else %}
<title>Kirjautuminen</title>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<a href="/register">Luo käyttäjä</a>
{% endif %}